.page-header{
    background: gainsboro;
    padding: 20px;

}

.content-area{
    background: rgb(105, 142, 155);
    height: 1500px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 2rem;
    transform: scale(.8);
    width: 80px;
}

.logo__sub{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

.email-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.email-modal--visible{
    visibility: visible;
    opacity: 1;
}